[2020-08-28 07:14] benceszasz opened #5 "retryDurationOnAttempt(n) function is missing in carelink.js"
The retryDurationOnAttempt(n) function in carelink.js is missing, which causes program errors and later data gaps, because the module remains in a wrong state after the first error:

First error due to missing funcion:
[code]

Subsequent continuous errors due to the first error:
[code]

The missing retryDurationOnAttempt(n) function exists in the original modified version of the carelink.js in Fre

[2020-09-14 07:43] saukk900 opened #6 "Node version is old and it is have to been update at least for 12.x.x version."
I am geting the error. Error message is "error minimed-connect-to-nightscout@1.3.2: The engine "node" is incompatible with this module. Expected version "^10.14.1 || ^8.15.1". Got "12.2.0""

[2020-10-26 08:11] sulkaharo opened #9 "Memory leak"
Nightscout users who are using mmconnect in NS are now reporting the site crashes every couple days due to running out of memory. The issues seems to be isolated to this module; help checking where the leak is would be great.

[2020-12-04 10:41] benceszasz commented on #9
@sulkaharo in my experience this is caused by the missing retryDurationOnAttempt(n) function in carelink.js, which was reported earlier  https://github.com/nightscout/minimed-connect-to-nightscout/issues/5#issue-687862738

[2020-12-04 16:03] gotpancreas opened #11 "mmconnect and 770g in US"
Not sure whether this is the right place to post (I’m new to GitHub), but I’ve been trying to set up a new NS instance to connect with my 770g via CareLink and the MiniMed Mobile app. I’ve got NS working fine, but there mmconnect portion seems to be returning a 404 error and I’m not able to see any SGV or pump data in NS. I’ve confirmed that the data appears in CareLink as expected and that my Car

[2020-12-05 20:30] benceszasz commented on #11
@gotpancreas  a new login method was introduced in the EU during the summer and it was solved very soon, the mmconnect was modified. However there was a small bug in the code, which caused an error in NS if there was a temporary error in CareLink EU. It seems to me, that the same new authentication method was also introduced in the US and thus the mmconnect is not working anymore for US.

@bewest

[2020-12-05 21:38] bewest commented on #11
Interesting.  Fantastic, that actually might make things a bit simpler.  Regarding parameters, we/I really need them to be able to be passed in.  If you audit the code you'll see that I added some code to inspect and reconstruct URLs based on parameters that are either dynamically generated or passed in at use/run-time.  One of the reasons this is important is testing, but another is to safely ena

[2020-12-07 01:25] raferg opened #12 "connection issue (medtronic EU)"
I'm seeing the following in my heroku logs:

[code]

Any ideas if something has changed recently?
I wasn't seeing updates this morning - so I redeployed on heroku, then realised i was a bit behind master, so I rebased and redeployed again - and now see the above error. (and I'm not seeing any updates on my heroku site)

[2020-12-07 02:12] raferg commented on #12
It has been suggested that medtronic has blocked my heroku site - but I don't know how to diagnose this.

[2020-12-07 07:46] raferg commented on #12
... And I've managed to redeploy nightscout (from the same got repo) in the US heroku, no issues. It seems I did get onto the ban list. I hope this isn't new operating procedure at medtronic!

[2020-12-07 10:20] jhuang234 commented on #12
Hi @raferg , thanks for your information. It works for me after switch to US heroku after 2-3 dyno restarts.
Really appreciated.

[2020-12-07 17:12] ffernandezro opened #13 "MiniMed Connect error: Error: connect ETIMEDOUT"
Hi,

Since yesterday I am having problems with my minimed-nightscout connection.

It has started to report the following error, without having carried out any kind of modification action on the code displayed on heroku.

2020-12-07T14:51:55.095873+00:00 app[web.1]: MiniMed Connect error: Error: connect ETIMEDOUT 144.15.107.20:443
2020-12-07T14:51:55.095886+00:00 app[web.1]: stack: Error: connect E

[2020-12-07 23:06] ffernandezro commented on #13
It works again for me after redeploy to heroku US and restart dyno

[2020-12-08 08:31] #12 closed, assigned to nobody

[2020-12-09 08:21] ffernandezro commented on #13
The same problem occurs as in US

[2020-12-10 06:35] raferg commented on #13
@ffernandezro I am running on heroku-US and still get the error, sometimes a reset fixes it, but its not 100%.
I then resorted to switching off the plugin on heroku and running this on my home machine, then for some reason it died when i went to work this morning, so I'm now running it using Termux on my (Android) phone.

[2020-12-11 14:18] danfarcas1972 opened #14 "npm stoped after 15min"
I use minimed-connect-to-nightscout in PowerShell for logging in Carelink and upload bg value in Heroku Noghtscout.
This is the solution to avoid Medtronic actions for blocking shared IP's.
My problem is: npm is stopping after 15 min (same duration like manual web logging in Carelink)
There is a solution for restarting logging in Carelink after 15min?

[2020-12-12 20:56] danfarcas1972 commented on #14
Resolved by FredMK/minimed-connect-to-nightscout-wrapper

[2020-12-12 20:56] #14 closed, assigned to nobody

[2020-12-13 16:25] auras opened #15 "403 when refreshing token for EU server"
I'm not 100% sure why this happens, but I fixed it by changing the headers:
[code]
So it's either the cookies or the token refresh service is banning the axios user agent.

[2020-12-21 03:18] bewest commented on #11
Please see for patches to help fix this issue.

[2021-01-25 04:01] bewest commented on #11
Howdy all, we've had some success with updates on this.  The most recent version released contains updates to better handle the undocumented changes from Medtronic.  There are some lingering issues having to do with whether or not IP addresses from shared cloud environments, such as Heroku remain blocked due to past activity.  The resolution in these circumstances is to obtain a new IP address.

[2021-01-25 18:39] ondrej1024 commented on #11
I tried running mmconnect on a Linux PC. I am accessing a Carelink EU account tied to my daughters 780G pump.
It starts and puts out one line:

`
[MMConnect] Wait 0 seconds before start
`

After that it just sits there and no data is displayed in NS.
Is there any way I can check what it is doing?

[2021-01-25 19:27] bewest commented on #11
Yes, if you are familiar with environment variables, you can set `CARELINK_QUIET=false` which should print additional logging messages.

[2021-01-25 20:56] ondrej1024 commented on #11
OK, thanks. I must have missed this.
Anyway I get the following message:

[code]
But the official Carelink Connect App shows correct data. Any idea?

[2021-01-25 21:02] ondrej1024 commented on #11
26860131 minutes are 51 years, so it looks like CareLink reports timestamp of 1970 (unix epoch time 0).

[2021-01-25 21:11] ondrej1024 commented on #11
Maybe this is related to [this comment](https://github.com/nightscout/cgm-remote-monitor/issues/6568#issuecomment-767095234) and the data from the 780G uploaded with the Minimed Mobile app can actually not be retrieved with the mmconnect plugin.

[2021-01-25 23:48] gotpancreas commented on #11
Hi there. I'm just confirming the same thing that @ondrej1024 reported. I'm on a 770g in the US and I'm also seeing the "Stale CareLink data..." message as well:

[code]
Also similar to ondrej1024, I'm seeing accurate and up-to-date data in the Minimed Mobile app (iOS) and on CareLink Connect via web:

![2021-01-25_17-44-03](https://user-images.githubusercontent.com/75190875/105780063-4de9b780-5f3

[2021-01-26 00:05] bewest commented on #11
So just to be clear, I'm still a little confused.

* Does 770g upload data to Carelink web portal
* Does 780g upload data to Carelink web portal?
* Is recent data from 770g visible in the web portal?
* Is recent data from 780g visible in the web portal?
What would be helpful is to capture the HTTP traffic used by the web portal.
Eg, going into the browser developer tab, enabling recording all Netw

[2021-01-26 01:55] gotpancreas commented on #11
Yes, in my case the 770g connects via BLE to Minimed Mobile app (for me, this is on an iPhone) which then uploads the data to CareLink in real-time (or near real-time).

Yes, the web portal reflects the same real-time data that the app shows (which is also the same as my pump shows).

I can't personally speak for the 780g, but Medtronic has implied that the 770g and 780g use the same hardware (MMT

[2021-01-26 07:28] ondrej1024 commented on #11
The way I understand it, this is how the data flows via the Medtronic infrastructure:

![minimed 780g comms](https://user-images.githubusercontent.com/5494041/105812876-3e0eb980-5faf-11eb-8a48-5d4055f6732d.png)

The Minimed Mobile app sends new sensor and pump data every 5 mins to the Cloud which can be downloaded and displayed by the Carelink app. However I am not able to see any data on the web

[2021-01-26 14:52] gotpancreas commented on #11
Interesting... this is different than what I'm experiencing. @ondrej1024, it looks like you might be logging in to CareLink Web with a Care Partner account and not the main patient account? The reason I think this is because the icon in the upper right of your screenshot appears different than in my screenshot - and I've seen the same icon as you have whenever I log in using a Care Partner account

[2021-01-26 15:05] ondrej1024 commented on #11
You are right, when I took the screenshot I was using a Care Partner account. But I have also tried with the patient account and it does not make any difference.

I suspect it could also be a question of the combination of browser and operating system and only a few combinations are allowed. I have tried both Firefox and Chromium on Ubuntu and I get a warning that this is not supported but it let'

[2021-01-27 15:29] gotpancreas commented on #11
I'm having success using Chrome v87.0.4280.141 on Windows 7 and Windows 10, and also using MS Internet Explorer v11.0.9600 on Windows 7.

[2021-01-28 10:36] ondrej1024 commented on #11
Now I tried using a user agent switcher with Firefox, posing as a Chrome browser on Windows 10. But that doesn't change the fact that there is no real time data shown on the Carelink site for my account. So there must be some other criteria as you wrote earlier.

I guess it would be really helpful to find out what interface the Carelink Connect app is using to retrieve the data from the Cloud. Pro

[2021-01-28 15:25] mohammed-nep-group commented on #11
No indeed wouldn't be documented but if you inspect and follow that page you should see the GET calls and maybe some POSts. because we need only what we see in the website for US. So in fact they could find the corresponding rest calls that are happening from the site --> Carelink Cloud.

[2021-01-29 05:09] paul1956 commented on #11
Two different things happen with the 7X0G, every 5 minutes a subset of data is uploaded to the cloud, in the US it can be viewed with mobile browser (Safari...) by logging into patient or caregiver account and it looks (almost) identical to what you see in the app. Every 24 hours all of the data that was uploaded from the 670G is uploaded, it can only be viewed by a computer (not mobile browser) b

[2021-02-01 19:03] theNateAllen commented on #11
Perhaps related to the original problem posted in this thread, I'm having trouble logging in to Carelink.  Turning off quiet mode, it looks like we're using the EU URL but I'm based in the US.  I've tried with the environment variable MMCONNECT_SERVER absent and set to "US", with no visible difference.  Log showing failed logins:
[graceallen-carelink-to-ns-logs-1612205335876.txt](https://github.co

[2021-02-01 21:53] bewest commented on #11
@theNateAllen yes.  This probably needs better documentation, but please use `MMCONNECT_COUNTRYCODE=us` as well.

[2021-02-01 21:58] bewest commented on #11
I've noticed that `MMCONNECT_COUNTRYCODE` needs to be set to an ISO3166 country code  that matches the regulatory domain that `MMCONNECT_SERVER` will use.  I have found it's best to set `MMCONNECT_SERVER` explicitly to the server to be used:
* For United States:
[code]
* Rest of world:
[code]

Hope this helps.
You may be observing bugs in the environment handling logic, apologies.

[2021-02-02 03:19] theNateAllen commented on #11
Thanks @bewest, that got me going.  I'm now stopped by the stale data error reported above.  Let me know if capturing my network traffic while viewing the Carelink site would be useful.

[2021-02-05 19:05] bewest commented on #11
Is 770g working in other countries or just broken in US?  Are other pumps working or broken?  It looks like there is an issue with at least getting US data, although looking to confirm what is working vs not.

As I'm digging through the HTTP traces, I'm pretty impressed with Medtronic's system here.

1. `https://carelink.minimed.com/patient/users/me/profile` provides profile information, criticall

[2021-02-05 19:29] bewest commented on #11
In the US, role can be `PATIENT`, and in EU, it may be `PATIENT_OUS` when fetching from `/me`.

[2021-02-05 19:57] bewest commented on #11
I see: there are patient roles and then "Care Partner" roles.  Care partner roles must post their authorized role and username to the `blePereodicDataEndpoint` to get data, otherwise patients can poll their own `/patient/connect/data?cpSerialNumber=NONE&msgType=last24hours&requestTime=`?  That's my current theory, anyway. I still don't quite understand the Careportal Partner vs Connect Patient con

[2021-02-06 04:18] paul1956 commented on #11
The patient is the person with the pump and running the MiniMed App what uploads some data every 5 minutes and complete data every 24 hours, they authorize Caregivers ("Care Partner") who run a different App each with their own users ID and Password.

[2021-02-06 17:25] bewest commented on #11
@paul1956 yes, in addition there seem to be a whole host of rules attached to these roles.  I can see at least `PATIENT`, `PATIENT_OUS`, and `CARE_PARTNER` and that the behavior is different.  It looks like patients cannot access real-time web carelink display unless the mobile app is enabled and installed and linked to the account.
However, the carelink patient credentials cannot be used in the a

[2021-02-06 17:32] bewest commented on #11
Here's a state machine I've been sketching out to help model things for testing and debug purposes.  It doesn't yet include the new requirements for an initialized state where the user's role, username, and data url have been confirmed after querying carelink api as an authorized user.

[2021-02-17 17:08] ClifClimber commented on #11
@bewest : I'm triying from UE (ES - Sapin) and cannot get data . The login seems correcta, but the minimed-connect-to-NS can't fetch data from Carelink Server .

How can I help you with this issue?

Regards  ! !

[2021-02-19 18:19] Grynn commented on #15
Maybe unrelated, but I get 403 for all requests from Heroku (EU).

## Heroku shell
[code]

## Local shell
`curl -sL  'https://carelink.minimed.eu/patient/sso/login?country=gb&lang=en` - works

[2021-02-21 14:19] kokernutz commented on #11
New user here in the US with a 770G. Seems like Medtronic is forcing two factor authentication on my account. I assume this is the reason why I can't see data in NS, along with the fact I keep getting emails with a 2FA password once a minute.

Any way around this?

From carelink:

<img width="607" alt="Screen Shot 2021-02-21 at 9 17 16 AM" src="https://user-images.githubusercontent.com/757885/1086

[2021-03-05 08:48] mattster98 commented on #11
Is there anything I can do to help solve this?  The carelink connect alerting is garbage since dismissing the alert on the pump can happen before the app even gets the alert.  I'm missing any alerts entirely thanks to subconscious button clicks by my son.

I have nightscout configured to pull and it appears to be trying, but is getting no data.  Interesting log bits below.  I am in the US and am u

[2021-03-05 09:22] benceszasz commented on #11
@mattster98 are you using 770G? Is the Connect online web application working for you in CareLink (https://carelink.medtronic.com/)? In the EU the Connect online web application, which can be used with Guardian Connect and which is used as the datasource for MMConnect is not available for 780G users.

[2021-03-05 12:44] mattster98 commented on #11
*edit* I tried that carelink url and cannot login now.. but can use those credentials with the carelink connect app.  Let me figure out what is going on there..

The application is functioning properly, just doesn't work well for our needs.

On Fri, Mar 5, 2021, 4:23 AM Bence Szász <notifications@github.com> wrote:

[2021-03-05 13:37] benceszasz commented on #11
@mattster98 sorry, I may have sent the wrong login US link, I know it is different from the European, but not sure about the correct one. Anyhow, you should be able to login to CareLink using the https://carelink.minimed.eu/app/login and by selecting US. So when you login to CareLink is the online Connect webapp available for you and can you see the current sensor glucose values like this:

![Care

[2021-03-05 13:42] mattster98 commented on #11
Whew 😅 YES that got me in.  Why is it so hard to find the right URL to log
in just to get you back to the same url in the end!!  I guess that is part
of the issue..

Yes, I just confirmed that worked with the account I'm using and I do see
the pump data there.

On Fri, Mar 5, 2021, 8:38 AM Bence Szász <notifications@github.com> wrote:

[2021-03-06 03:44] mattster98 commented on #11
I realized in my edit I didn't answer your original  question.  I am using the 770g.

[2021-03-06 13:35] benceszasz commented on #11
@mattster98 wrote to you in gitter, I wouldn't like to flood this thread.

[2021-03-12 19:54] rankelly commented on #11
Has there been any movement on this issue?  Is Medtronic blocking calls from Nightscout or blacklisting the Heroku site?  I've tried just about all of the suggestions available but still not able to get any data into Nightscout.

[2021-03-12 20:08] mattster98 commented on #11
Bence said that's the case.  I've been working with Bence on updates to
xdrip+ to provide a bridge as an interim solution, but it's not ready yet.

On Fri, Mar 12, 2021 at 2:54 PM rankelly ***@***.***> wrote:

[2021-03-12 21:07] rankelly commented on #11
Thanks.

[2021-03-27 01:27] x00-R0n1n commented on #11
Hi all,
Im a new to the this modern version of NS, im on the 770g system. Just verifying as of now, there's no way to pull data from Carelink to NS??
Thanks

[2021-03-29 14:25] ClifClimber commented on #11
Hi @mattster98 , I'm an spain user and currently  I use the 780G . could I help you in some way?
Thanks for your work ! ! !

[2021-03-29 19:31] benceszasz commented on #11
@ClifClimber currently I am trying to create an alternative solution for downloading data from CareLink instead of MMConnect, which is currently seems to be blocked by Medtronic when used in Heroku. My original scope was Guardian Connect, but I am working on extending it to other devices too. Because it is not MMConnect I think it is not related to this thread. I will write you in Gitter.

[2021-03-29 19:46] ondrej1024 commented on #11
@benceszasz This sounds interesting. I was also thinking about a solution to get the data out of the 780G. I would prefer to bypass the whole CareLink infrastructure and pull the data directly from the pump via BLE but this seems to be rather a long shot. So I reckoned getting the data from Carelink might be easier but reading this thread I am not so sure about this anymore.

So I would like to kn

[2021-03-29 21:18] benceszasz commented on #11
@ondrej1024 I am just trying to write a port of MMConnect in Java when my time allows and it is in a very early stage. The logic is the same as it is in MMConnect. I don't have a place for it yet, if you want to you can find me in Gitter.

[2021-04-05 19:41] Cosmin702 commented on #11
Wouldn't it be easier to pull the glucose level from the Minimus Mobile app notification.
The notification updates every time there's new data.
![20210405_213948.jpg](https://user-images.githubusercontent.com/75899266/113618108-7e498280-9657-11eb-906a-4852337ef3dd.jpg)

[2021-04-05 20:26] FredMK commented on #11
@Cosmin702 It's a very good idea, but only for Android and xDrip+. With this way a new follower can be written, that would listen to notification with specified app (PACKAGE_NAME) and maybe with some regex to get the glucose value.

@benceszasz What is your opinion about this? I would take a look on this, but sadly I don't have time for a few months.

With Android it' able to get this this kind of

[2021-04-06 08:36] AlejandroPaula commented on #11
hello, if this is not the right place, excuse me, a question?  Wouldn't it be possible to work on a patched apk that does the uploader function?

[2021-04-06 09:14] ondrej1024 commented on #11
@AlejandroPaula
Yes, this discussion here is probably not the right place. There have been a lot of other ideas (including modification of the apk) in [this discussion](https://github.com/nightscout/cgm-remote-monitor/issues/6568), but it was also not the right place. so it was closed.

There are lots of ideas, suggestions, some tests ecc floating around and I was wondering what  would be the _rig

[2021-04-07 20:45] benceszasz commented on #11
@FredMK  I can look at it. Notifications seems to provide only limited information, but can work even when CareLink is down.

@Cosmin702 could you send me notification samples with details using some kind of notification manager (for example FilterBox or Notification Log etc.)? It would be good to have all kind of notifications generated by the application (normal status info, connection lost, pum

[2021-04-10 20:02] justincrosby commented on #11
Hey all, I've been scouring the internet for a solution and I think this project might be the one. I'm basically just looking for a way to view my CGM data on my wear OS watch. I have a 770g and the minimed mobile app working but I don't see any way of forwarding to the watch unfortunately. As others have suggested ideally I just want to access the persistent notification data on my watch. I'm a f

[2021-04-12 07:34] benceszasz commented on #11
@FredMK unfortunately MiniMed Mobile uses custom views:
![image](https://user-images.githubusercontent.com/32592661/114357536-22f52400-9b72-11eb-9007-33126ccab659.png)

[2021-04-25 20:56] benceszasz commented on #11
Although the online CareLink Connect web app outside the US does not support 7xxG pumps however the blePereodicDataEndpoint in country settings also works outside the US for 780G. This means, that the last 24 hours of 7xxG pumps can be accessed the same way outside US as @bewest described in his earlier post. Of course there are some differences in case of 780G pump data (for example the auto corr

[2021-04-26 07:33] ondrej1024 commented on #11
@benceszasz thanks for the info. However I don't really understand what this means.

Do we have all the information needed to write the code which pulls the 7xxG data from the the CareLink server, both US and Europe? Would it be possible to provide an API description ?

For me it is still not exactly clear how authentication works and how the data can be requested from CarelLink.

[2021-04-26 21:14] benceszasz commented on #11
CareLink uses OAuth since June 2020, which was implemented in minimed-connect-to-nightscout: https://github.com/nightscout/minimed-connect-to-nightscout/pull/2

I have also used the same method in the CareLink Follower xDrip+ datasource although I still haven't implemented the refresh token (I always do a new login, when the old token is not working anymore): https://github.com/NightscoutFoundatio

[2021-04-27 06:24] ondrej1024 commented on #11
Thanks a lot for the explanation. I will dig into it myself and try to put all the bits and pieces together.

[2021-04-27 07:01] benceszasz commented on #11
I have extended the xDrip CareLink Follower datasource to support the 7xxG pumps too in addition to Guardian Connect CGMs:
https://github.com/benceszasz/xDripCareLinkFollower

I have also extracted the CareLink communication layer from the follower datasource in a separate repository:
https://github.com/benceszasz/CareLinkJavaClient

[2021-04-27 10:42] ondrej1024 commented on #11
That's great. Just what I was looking for. And it's actually working for me (780G in Italy). :smile:

[2021-04-27 11:53] benceszasz commented on #11
In normal cases both the modified xDrip CareLink Follower and the standalone CareLink client should work with Guardian Connect CGMs, 770G and 780G pumps, but there can be special currently not handled cases most likely with 7XXG pumps and maybe also with GC inside US.
The original xDrip CareLink follower was tested by many Guardian Connect users in Hungary, so it seems to be stable and that is why

[2021-04-27 12:01] iwanvandaele commented on #11
Very nice, thx!!! Just tested in with a 780G pump in Belgium and it's working fine with xdrip. I'm very happy!!!

[2021-04-27 14:10] ClifClimber commented on #11
Hi .. very nice news ! ! ! .. I've tested in a 780G in Spain and is working ! ! !   The only bug is that sometimes does not differentiate between smbs and treatments :

![image](https://user-images.githubusercontent.com/26300757/116255928-fd236e00-a772-11eb-9381-61735d3729d8.png)

Great job ! ! ! !

[2021-04-27 16:54] bewest commented on #11
Excellent.  Thanks, this is phenomenal work, @benceszasz.

[2021-04-29 16:10] hendrytl commented on #11
Does this mean that mmconnect would work if deployed in Azure instead of Heroku?  I'm in the US with 770G.

[2021-04-29 21:44] benceszasz commented on #11
@hendrytl maybe mmconnect will be able to connect to CareLink, I don't know if Medtronic also blocks Azure or just Heroku. On the other hand mmconnect currently doesn't work with the new pumps (7xxG). If you have an Android device (doesn't have to be the phone connected to the pump, but any Android device), you can try the [xDripCareLinkFollower](https://github.com/benceszasz/xDripCareLinkFollower

[2021-05-02 21:08] ondrej1024 commented on #11
@benceszasz could you please  provide the exact format or a sample data request to `blePereodicDataEndpoint` ?
When I try this here I get a 400 response, so it looks like I am not formatting the request correctly.

I see in your Java code that you send user and role information as JSON formatted data in the request but you set `"Content-Type"` to `"application/x-www-form-urlencoded"` in the header

[2021-05-03 10:49] ondrej1024 commented on #11
I don't understand. What I am doing wrong?

![image](https://user-images.githubusercontent.com/5494041/116867571-bff52b00-ac0d-11eb-930a-f71f65c72996.png)

[2021-05-03 17:42] benceszasz commented on #11
@ondrej1024  the `role` seems to be wrong, it should be  `carepartner`

There is a mapping for the `role` in the  CareLinkCloud `blePereodicDataEndpoint`, see the `getUserRole()` in `User` class:
https://github.com/benceszasz/CareLinkJavaClient/blob/master/src/main/java/info/nightscout/medtronic/carelink/message/User.java

Region (OUS or not) doesn't seem to be relevant in CareLink Cloud, only the

[2021-05-03 20:14] ondrej1024 commented on #11
Great. Now the last piece fell into place. I had missed the mapping of the role types. Thanks a lot.

[2021-05-10 14:14] ondrej1024 commented on #11
For anyone who, like me, never really became fond of Java, here is a Python port of the Java client by @benceszasz :
https://github.com/ondrej1024/carelink-python-client

It has the same functionality as the original library. Next step is to do the porting to MicroPython in order to be able to run it on constrained devices like the [M5 Core2](https://docs.m5stack.com/en/core/core2) (which would ma

[2021-05-22 04:18] AshwinKhemlani commented on #11
Hi, I am new this Nightscout system. Am I able to use nightscout to view my medtronic cgm data on my apple watch. I have a Medtronic 770G. Help would be very nice.

[2021-06-15 16:46] ondrej1024 commented on #11
I started playing with the M5 Core2 device and implemented a Minimed Monitor, using the Carelink client to pull the data from the Carelink Cloud. The client is not yet integrated into the Core2 and runs on a proxy device for now. Here are pictures of the 2 screens which are implemented, with real time data. I will probably also add another screen with the history graph. Lots of details are still t

[2021-06-15 16:54] AlejandroPaula commented on #11
Excellent!!  And have you gotten alarms to sound?  I would like to implement it, have you finished the repo?

[2021-06-15 17:27] ondrej1024 commented on #11
No alarms are handled yet. But it's on my list. The Core2 can beep and play audio files. So it's possible.
I will set up a repository with the code, so anyone who is interested can contribute.

[2021-06-28 08:57] ondrej1024 commented on #11
If anyone is interested in contributing, I created a [repository for the M5Stack Minimed Monitor](https://github.com/ondrej1024/m5-minimed-monitor) for the M5 Core2 device.

[2021-06-29 12:52] AlejandroPaula commented on #11
Thanks for your contribution👏👏 .. can it be implemented with M5STACK ESP32?

[2021-06-29 14:01] ondrej1024 commented on #11
I'm not sure I understand what you are asking. As far as I know all M5Stack devices are based on the ESP32.
And so is the M5 Core2 I am using for the Minimed Monitor.

[2021-07-01 08:29] AlejandroPaula commented on #11
Hi, I am trying to implement in v Code and I am stuck, could you do a little tutorial on how to implement it ?.  If you do not mind

[2021-07-01 08:57] ondrej1024 commented on #11
I suggest you open an issue in the repository for the [M5Stack Minimed Monitor](https://github.com/ondrej1024/m5-minimed-monitor). So we don't hijack this thread here not related to minimed-connect-to-nightscout.

[2021-09-05 23:07] lhmcgann commented on #11
Hello, I am new to this and trying to get minimed-connect-to-nightscout working. I am in the US using a 770G. I set up a MongoDB database, forked cgm-remote-monitor, and deployed it through Heroku (although I removed 'mmconnect' from the ENABLE env variable). I am trying to run the minimed-connect-to-nightscout directly using Node.js and `npm start`. I have all the CareLink login and nightscout ho

[2021-09-20 14:20] mattster98 commented on #11
This is still unresolved, correct?  I've been using the modified xdrip+ to pull from carelink and push to nightscout but it has gotten inconsistent lately.  The data is on carelink but there are gaps on nightscout.  Hoping for a more reliable solution.

[2021-10-31 14:58] stijnbrouwers commented on #11
@mattster98

I got it working on my PR #24. You can check that out to see if it works for you. (I tested it for My son's 780G)

[2022-01-08 08:25] ghubc commented on #11
Hello,
is there a way to export 780g data (sensor readings) without connecting to the Minimed server? So, is there an offline export way? I do not want for Minimed to have my sons medical informations.

We just want to get a pdf with his pump usage for last 14 days so we can get it to his doctor to discuss a diabetes treatment. Like it was possible to transfer from Medtronic 530g.

We are in EU an

[2022-01-08 15:33] ondrej1024 commented on #11
Hi @ghubc,
Medtronic provides all the Cloud infrastructure to upload the patient data from the pump. So the doctor with a Carelink account can access it if you grant him/her permission.

The Minimed 780G uploads the data via the "Minimed mobile" app on the patients Smartphone. I think you can also use a PC with the Career Blue adapter and the official Carelink uploader software. I am not aware of

[2022-01-09 00:30] paul1956 commented on #11
I think the 770G/780G is even more difficult because it used a modified pairing protocol to prevent hacking with the **_goal_** of eventually using phone as a remote, and giver the recent recall of 530g remote a lot of effort is going into security. Once the data is on CareLink Cloud, there are several Open-Source projects to allow downloading the raw data which is updated every 5 minutes, at ever

[2022-01-09 03:58] kgelinas opened #29 "http 400 while login"
I receive an 400 while trying to setup NS using docker image
MiniMed 670G (in canada 770g in EU I believe)
[code]

env value
- name: API_SECRET
  value: somevalue
- name: BRIDGE_SERVER
  value: EU
- name: AUTH_DEFAULT_ROLES
  value: readable
- name: INSECURE_USE_HTTP
  value: 'true'
- name: SECURE_HSTS_HEADER
  value: 'false'
- name: BG_HIGH
  value: '220'
- name: BG_LOW
  value: '60'
- name: BG_T

[2022-01-19 23:21] sirKitKat opened #30 "Values fetched from CareLink are in the wrong timezone (UTC)"
After switching from dexcom to medtronic (780G + Guardian 4),  the values displayed are shifted by one hour:
![image](https://user-images.githubusercontent.com/1853002/150233611-a5d491e3-9898-4bef-bd47-e9d2a06bc1ea.png)

If I look at the data in mongodb, I suspect that mmconnect wrongly stores the timestamp:
![image](https://user-images.githubusercontent.com/1853002/150234214-d7d3cd59-c6ca-4510-a9

[2022-01-19 23:55] sirKitKat commented on #30
If I use the "carelink_raw" profile to fetch data, I can see in the returned data that all sgv are timestampt with an UTC time notation but with the local time:
[code]

[2022-01-20 07:14] sirKitKat commented on #30
Things I tried so far:
* changing the timezone of my unraid setup to UTC (no effect)
* restarting the docker service (no effect)
* changing the timezone of the nightscout docker to UTC (with the -e TZ=UTC variable) (no effect)
Also I found this in the logs after the last change:
[code]

Can I conclude that the function guessPumpOffset() in [transform.js](https://github.com/nightscout/minimed-conne

[2022-01-20 09:46] sirKitKat commented on #30
Hmm, I fixed the bug in the function guessPumpOffset but it doesn't seem to have an effect on the reported values -_-

[2022-01-20 11:38] sirKitKat commented on #30
In the end, I've rewritten transform.js and manually subtract the calculated timezone from the pump time to correct the values.

[2022-01-25 02:48] qq254344379 opened #31 "do the following error, how do I fix it? I am in docker"
at processTicksAndRejections (internal/process/task_queues.js:93:5),
    at async doLoginEu3 (/opt/app/node_modules/minimed-connect-to-nightscout/carelink.js:170:20),
    at async checkLogin (/opt/app/node_modules/minimed-connect-to-nightscout/carelink.js:280:28),
    at async Object.fetch (/opt/app/node_modules/minimed-connect-to-nightscout/carelink.js:309:21),
tick 2022-01-25T02:40:40.528Z,
Load

[2022-01-29 12:19] mgre3 commented on #30
Nice. How did you manage to get data from the 780G in Europe? For me it is still not possible.

[2022-01-29 12:57] sirKitKat commented on #30
By providing the following parameters to the docker container running nightscout:
https://github.com/nightscout/cgm-remote-monitor#mmconnect-minimed-connect-bridge
I've used my credentials from carelink connect.

[2022-02-01 11:56] mgre3 commented on #30
Thanks, now I have my Nightscout also filled with data again.

Can you share the version of transform.js you are using right now? Which changes did you apply? Because I am having the same issue right now with the timezone.

[2022-02-02 22:45] sirKitKat commented on #30
Here you go, it's not ideal but I hope you can use it:
[transform.js.txt](https://github.com/nightscout/minimed-connect-to-nightscout/files/7990491/transform.js.txt)

(PS: Beware that, if you are using the docker image, you'll need to link this file from outside the docker container or the file will be overwritten when the docker is updated/started/...)

[2022-02-09 15:07] Trenar opened #32 "mmconnect data has wrong timezone?"
Hi all,
I just got a new Medtronic Guardian G4 sensor and am now finally also able to easily use Nightscout. I just installed the docker image (version 14.2.5) on a private computer.
Now, that I received the first glucose values via mmconnect, I observe that their time tag is 1hr in the future. Seems like a timezone issue (since I'm in Europe/Berlin or UTC+1). This looks a little weird since the b

[2022-02-09 20:01] Trenar commented on #32
Duplicate of #30. Sorry guys :)

[2022-02-09 20:01] #32 closed, assigned to nobody

[2022-02-17 21:26] mstietencron commented on #30
Thanks a lot. This works well for me! :)

[2022-03-10 07:23] m4esen commented on #11
Hi, may you show me what your URL looked like to sucessfully connect to carelink.minimed.eu? I do not get it to work.

[2022-03-13 11:16] Trenar commented on #11
It worked for me for some weeks, but since 3-4 days the carelink.minimed.eu server is not available anymore, isn't it? At least I get an access error:

[code]

Anybody else facing this issue?

[2022-03-13 11:48] Trenar commented on #11
Nevermind.. It seems like I had too many requests from my IP and got banned by medtronic... After retrieving a new IP (i.e. restarting my router) everything works again.

Obviously, my covid quarantine with me and all my devices being at home for 2 weeks was too much for the server (I'm self-hosting) :D

[2022-08-31 10:21] seanch80 opened #34 "EU login 5 fails because of MFA challenge"
All accounts in my country Norway (personal and caretaker) require MFA (two-factor auth via email code). When I try to run minimed-connect-to-nightscout the EU login 5 stage fails because a MFA oauth challenge response is received instead of the expected result, so response.headers.location is undefined and the EU login 5 stage fails because of this.

Is there any workaround to this? Is MFA-suppor

[2022-09-01 15:59] bewest commented on #34
Thanks for the information.  Can you outline a little more about what you are trying to accomplish?  It sounds like https://github.com/benceszasz/xDripCareLinkFollower might be a good fit.  Is it able to log into your Medtronic Carelink account?  There have been issues with minimed-connect-to-nightscout` plugin, and most people use it as a built-in plugin for Nightscout.  This typically runs on a

[2022-09-01 18:04] seanch80 commented on #34
Hi. Thanks for your reply.

What I am trying to figure out is whether Carelink accounts with two-factor authentication (MFA) are supported by this project, and if not if this is being worked on. MFA accounts are required for accounts in my country, so I have no way to disable it. If anyone know of a workaround that could be handy as well.

The two factor process require me to enter a 6-digit code

[2022-09-20 16:31] Jornvanbeek commented on #30
Hi! I have the same problem as you guys with the shifted time, so I think the changed transform file should also help me. Though I do need some help, as I am not used to working in JavaScript.
I forked the cgm-remote-monitor in github, and deployed using railway and mongoDB. I have forked the minimed-connect-to-nightscout repo, and changed the transform.js file. Now I am unsure how to change the c

[2022-10-11 14:23] latrine666 opened #35 "Status code 400 on raspberry"
Hi together ,
Iam trying to setup mmconnect on a raspberry.
Have set all necessary variables.
but at npm start iam getting these errors.
If it’s not good readable, sorry as it’s from my mobile !

MMConnect] Wait 0 seconds before startError: Request failed with status code 400stack: Error: Request failed with status code 400    at createError (/home/pi/node_modules/minimed-connect-to-nightscout/nod

[2022-10-22 09:26] seanch80 commented on #11
Has anyone found a way to only get data for the last hour, or last half-hour, in order to limit the amount of data polled? ..and is there a limit on the polling frequency using the ble data endpoint?

I want to poll the recent data every 5 minute or so. Would that work or does that get me blocked by Medtronic?

[2022-10-22 17:14] ondrej1024 commented on #11
The `carelink_client_proxy.py` (part of my repo [carelink-python-client](https://github.com/ondrej1024/carelink-python-client) ) downloads the available Carelink data, including last 24 hour history, every 5 mins. I have been doing this for months and it's still running fine. So I don't think there is a rate limit, at least not in the "once every 5 min" range.

I have also been wondering if there

[2022-10-23 06:14] seanch80 commented on #11
Thank you for the information. I appreciate you sharing your experience with this. I will go ahead with the 5 minute polling then.

I was guessing perhaps the BLE endpoint (clcloud.minimed.com/connect/v2/display/message or equivalent) could have some optional time range parameter. In the old days I would be able to spy on the network traffic of the official Carelink Connect, but now with HTTPS, ap

[2022-10-23 07:44] benceszasz commented on #11
@seanch80 no, there is no such option or parameter, the `/connect/v2/display/message` always returns the data of the last 24 hours.

[2022-10-23 11:41] seanch80 commented on #11
@benceszasz Thanks for your answer. Of course I believe you, 100%. I am not trying to be ironic, rude or sarcastic here, however it makes me curious of how you know for sure. Did you or anyone else obtain API documentation or capture the network traffic of the Carelink Connect app?

[2022-10-24 09:16] paul1956 commented on #11
@seanch80 You always get 24 hours of data on this API; I have not found another API. You can look at https://github.com/paul1956/CareLink it will show you all the available data and how to get it. It currently polls every minute but only updates when something has changed by looking at  lastMedicalDeviceDataUpdateServerTime. The phone app seems to be almost instant sometimes, so there may be other

[2022-10-24 09:46] seanch80 commented on #11
@paul1956 Wow, that looks very nice. Thanks for the information!

[2022-10-24 20:13] nfontan commented on #30
Hi, I was in the same situation as you.
What you have to do is modify the nightscout package.json and point it to your repository where the code will be with the new transform.js

Look my package.json
https://github.com/nfontan/cgm-remote-monitor/blob/master/package.json

line 111

[2022-10-24 21:39] paul1956 commented on #11
@seanch80 thanks, still working on updating display as I continually find new information based on what pump is doing so you may get a popup sometimes. it also saves all your data in CareLinkLastDownload(en-US).json every time it updates with you language and country encoded in the name.

[2022-11-18 02:53] bewest commented on #30
@sirKitKat do you have a pull request available for this?

[2022-11-18 02:54] bewest commented on #30
@sirKitKat do you have a pull request available for this?

[2022-11-18 18:36] sirKitKat commented on #30
I have no idea how to do that, so feel free to use my code for improvements 👍